<ion-header>
  <!-- <ion-toolbar>
    <ion-title>broadcast</ion-title>
  </ion-toolbar> -->
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon size="large" name="reorder-three-outline"></ion-icon>
    </ion-buttons>
    <ion-title>
      <ion-icon size="" src="assets/images/nav/icon-nav-broadcast-black.svg"></ion-icon>
      Broadcast
    </ion-title>
    <ion-buttons slot="end">
      <ion-icon src="assets/images/faces/face1.png"></ion-icon>
    </ion-buttons>
  </ion-toolbar>

  <ion-toolbar>
    <ion-title>Subheader</ion-title>
  </ion-toolbar>
  
</ion-header>

<ion-content>

</ion-content>
