<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="connect">
      <ion-icon size="large" src="assets/images/nav/icon-nav-connect-white.svg"></ion-icon>
      <ion-label>CONNECT</ion-label>
      <ion-badge>2</ion-badge>
    </ion-tab-button>

    <ion-tab-button tab="timeline">
      <ion-icon size="large" src="assets/images/nav/icon-nav-timeline-white.svg"></ion-icon>
      <ion-label>TIMELINE</ion-label>
      <ion-badge>3</ion-badge>
    </ion-tab-button>
  </ion-tab-bar>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="explore">
      <ion-icon size="large" src="assets/images/nav/icon-nav-explore-white.svg"></ion-icon>
      <ion-label>EXPLORE</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="broadcast">
      <ion-icon size="large" src="assets/images/nav/icon-nav-broadcast-white.svg"></ion-icon>
      <ion-label>BROADCAST</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="collect">
      <ion-icon size="large" src="assets/images/nav/icon-nav-collect-white.svg"></ion-icon>
      <ion-label>COLLECT</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="plan">
      <ion-icon size="large" src="assets/images/nav/icon-nav-plan-white.svg"></ion-icon>
      <ion-label>PLAN</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settle">
      <ion-icon size="large" src="assets/images/nav/icon-nav-settle-white.svg"></ion-icon>
      <ion-label>SETTLE</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
